public/default-target-set3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="StaffProfile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="UserID" type="xs:integer" />
                <xs:element name="Identity">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="FirstName" type="xs:string" />
                            <xs:element name="LastName" type="xs:string" />
                            <xs:element name="Birthdate" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Communication">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Email" type="xs:string" />
                            <xs:element name="Mobile" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
