public/default-target-set2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="InventoryItem">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SKU" type="xs:string" />
                <xs:element name="ItemDetails">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Title" type="xs:string" />
                            <xs:element name="Summary" type="xs:string" />
                            <xs:element name="Group" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Cost">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Amount" type="xs:decimal" />
                            <xs:element name="Unit" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
