public/default-source-set2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProductCatalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ProductID" type="xs:string" />
        <xs:element name="ProductInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ProductName" type="xs:string" />
              <xs:element name="Description" type="xs:string" />
              <xs:element name="Category" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Pricing">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="Price" type="xs:decimal" />
                    <xs:element name="Currency" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
