public/default-source-set3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EmployeeRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EmployeeID" type="xs:integer" />
        <xs:element name="PersonalInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="GivenName" type="xs:string" />
              <xs:element name="FamilyName" type="xs:string" />
              <xs:element name="DateOfBirth" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ContactDetails">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="WorkEmail" type="xs:string" />
                    <xs:element name="PhoneNumber" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
